/* Container styles */
.container {
    max-width: 350px;
    background-color: #2596be;  /* Solid background color */
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    margin: 20px;
}

/* Heading styles */
.heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: rgb(66, 62, 62);;
}

/* Form styles */
.form {
    margin-top: 20px;
}

/* Input styles */
.form .input {
    width: 100%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
}

/* Placeholder styles */
.form .input::-moz-placeholder {
    color: rgb(170, 170, 170);
}

.form .input::placeholder {
    color: rgb(170, 170, 170);
}

/* Input focus styles */
.form .input:focus {
    outline: none;
    border-inline: 2px solid #12B1D1;
}

/* Forgot password link styles */
.form .forgot-password {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}

.form .forgot-password a {
    font-size: 11px;
    color: rgb(66, 62, 62);;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease-in-out; /* Transition effect for color change */
}

/* Hover effect for forgot password link */
.form .forgot-password a:hover {
    color: rgb(255, 255, 255); /* Change color to gray on hover */
}

/* Login button styles */
.form .login-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
    color: rgb(66, 62, 62);
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
}

/* Hover effect for login button */
.form .login-button:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

/* Active effect for login button */
.form .login-button:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}

/* Custom link styles */
.custom-link {
    color: rgb(66, 62, 62);;
    text-decoration: underline;
    font-size: 14px;
    transition: color 0.2s ease-in-out; /* Transition effect for color change */
}

/* Hover effect for custom link */
.custom-link:hover {
    color: rgb(255, 245, 245); /* Change color to gray on hover */
}

/* Centering flexbox utility class */
.flex.items-center.justify-center {
    display: flex;
    justify-content: center;
}

/* Radio group styles */
.radio-group {
    margin-top: 10px; /* Adjust the top margin as needed */
    margin-left: 10px; /* Adjust the left margin as needed */
}
